<nav class="menu">
  <div class="menu__inner">
    <button
      mat-button
      class="menu__link"
      matTooltip="Navegar a Home"
      routerLink="home">
      Home
    </button>

    <button
      mat-button
      class="menu__link"
      matTooltip="Navegar a Map"
      routerLink="map">
      Map
    </button>

    <button
      mat-button
      class="menu__link"
      matTooltip="Navegar a Help"
      routerLink="help">
      Help
    </button>

    <button
      mat-button
      class="menu__link"
      matTooltip="Navegar a About"
      routerLink="about">
      About
    </button>

    <span class="menu__divider"></span>

    <button
      mat-raised-button
      class="menu__link menu__link--primary"
      matTooltip="Navegar a Poligonos"
      color="primary"
      routerLink="poligonos">
      Polígonos
    </button>

    <button
      mat-raised-button
      class="menu__link menu__link--primary"
      matTooltip="Navegar a Puntos"
      color="primary"
      routerLink="puntos">
      Puntos
    </button>

    <button
      mat-raised-button
      class="menu__link menu__link--primary"
      matTooltip="Navegar a Lineas"
      color="primary"
      routerLink="lineas">
      Líneas
    </button>
  </div>
</nav>